/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* HTML */

body,
html{
	height: 100%;	
}
body{
	background-color: #FFD018;	
}
h1,
h2,
h3{
	font-family: 'Josefin Sans', sans-serif;
}
input[type="text"]{
	border: 1px solid #ccc;	
	border-radius: 5px;
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, .1);
	font: 18px 'Josefin Sans', sans-serif !important;
	padding: 5px;
}
big{
	font-size: 1.5em;
}

/* Layout */

#main-wrapper{
	min-height:100%;
	position:relative;   
}
.container{	
	padding-bottom: 120px;
}
.clear{
	clear: both;
}
.panel h3 { font-size: 30px;}
.panel .hr{
	border-bottom: 1px solid #CCC;
	clear: both;
	height: 1px;
	margin: 20px 0px;
}
.al-right{
	text-align: right;
}
.doc-info span{
	display: inline-block;
	width: 75px;
}
#profile-options div.panel {
	min-height: 280px;
}
#profile-options input[type="text"]{
	width: 90%;
}
.button.nice:hover { 
	color: #FFD018;
}
.hr{	
	border-bottom: 1px solid #E5BB16;
	clear: both;
	height: 1px;
	margin: 20px 0px;
}
form .hr{	
	border-bottom: 1px dotted #CCC !important;
	clear: both;
	height: 1px;
	margin: 10px 0px 20px !important;
}
.doc-options{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 40px 0px;
}
.doc-options a{
	display: block;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	
}
a.lk-trailer,
a.lk-future,
a.lk-director,
a.lk-store,
a.lk-more{
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 40px; 
}
a.lk-trailer{
	background-image: url(../img/lk-trailer.png);
}
a.lk-future{
	background-image: url(../img/lk-future.png);
}
a.lk-director{
	background-image: url(../img/lk-director.png);
}
a.lk-store{
	background-image: url(../img/lk-store.png);
}
a.lk-more{
	background-image: url(../img/lk-more.png);
}
a.lk-view{ 
	border-radius: 10px;
	padding: 15px;
	text-shadow: 0px -1px 0px #000;
}
a.lk-view span{ 
	color: #FFD018;	
	font-size: 24px;
}
a.lk-view:hover{ 
	color: #999;
}
.ten.columns div.panel{	
	margin-bottom: 20px;
}
.ten.columns .doc-options{	
	margin: 20px 0px 0px;
}
.video-panel,
#slider{
	background-color: #FFF;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	padding: 10px;
	margin: 20px 0px;
}
.video-panel{	
	margin: 0px 0px 20px;
}
img.bigPhoto{
	border-radius: 20px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	margin-bottom: 20px;
}
img.thumbPhoto{
	border-radius: 10px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, .25);
	clear: both;
}

.video-wrapper {
	background-color: #FFF;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Header & Footer */

#header .row{	
	border-bottom: 1px solid #E5BB16;
	margin-bottom: 20px;
	padding: 20px 0px;
}
#header .link-bar{	
	padding-top: 80px;	
}
#header .seven.columns a{
	margin: 0px 20px;
	text-decoration: none;
}
#header .seven.columns a:hover{
	color: #FFF;
}
#header .seven.columns a:last-child{
	margin-right: 0px;
}
#footer {
	background-color: #FFF;
	bottom: 0;
	box-shadow: inset 0px 5px 5px rgba(0, 0, 0, .25);
	clear: both;		
	padding: 40px 2% 20px;	
	position:absolute;  
	
	width: 96%;	
}
.link-bar a,
#footer a{
	color: #000;
	margin: 0px 10px;
	text-decoration: underline;
}
.link-bar a:hover,
#footer a:hover{
	color: #999;
	text-decoration: none;
}

@media screen and (max-width: 767px) {	
	h1,
	#footer,
	.link-bar,
	.two.columns{			
		text-align: center;
	}
	.doc-options .two.columns{
		border-bottom: 1px solid #E5BB16;
		margin: 0px 0px 20px;
		padding-bottom: 20px;
	}
	#profile-options div.panel {
		min-height: 100px;
	}
	#profile-options h3 {
		font-size: 24px;
	}
	#header .four.columns,
	.four.columns{	
		padding-top: 0px;
		text-align: center;
	}	
	
}