#slider{
	position: relative;
}
#thumbs{
	position: absolute;
	right: 10px;
	top: 10px;
}

#gallery{
	width: 960px;
	height: 360px;
	overflow: hidden;
}

#gallery img{
	position: absolute;
}

#thumbs{
	width: 150px;
	height: 360px;
	overflow: hidden;
	background-color: #000;
}
#thumbs img{
	margin: 5px;
}

#next{
	display: block;
	width: 47px;
	height: 43px;
	background: url(/img/arrow.png);
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
}

#next:hover{
	background: url(/img/arrowmo.png);
}
