
#slider{
	
}
#next{
	width: 47px;
	height: 43px;
	background: url(/img/arrow.png);
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
/*	border: 1px solid #F00;*/
	z-index: 1000;
}

#next:hover{
	background: url(/img/arrowmo.png);
}
